<div class="container" *ngIf="question">

  <h2>Q{{ questionNumber }}: {{ question.question }}</h2>
  <app-quiz-timer></app-quiz-timer>
  <div class="answers">
    <div *ngFor="let answer of question.answers; let i = index" class="answer">

      <button mat-raised-button (click)="selectValue(answer)"
              [disabled]="!!status"
              [color]="selectedAnswer === answer ? 'accent' : null">
        <mat-icon color="warn" *ngIf="selectedAnswer === answer && status === 'WRONG'">close</mat-icon>
        {{ answer }}
      </button>

    </div>
  </div>

  <div class="message success-message" *ngIf="status === 'RIGHT'">
    WELL DONE!
  </div>

  <div class="message fail-message" *ngIf="status === 'WRONG'">
    WRONG!
  </div>

  <div class="actions">
    <button mat-raised-button color="primary" (click)="submit()" [disabled]="!selectedAnswer || !!status">OK</button>
    <ng-container *ngIf="attempts$ | async as attempts">
      <button mat-raised-button color="accent" (click)="skip()" [disabled]="!!status">Skip</button>
      <p>Remaining: {{ attempts }}</p>
    </ng-container>
  </div>
</div>
