.container {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.answers {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;

  .answer {
    min-width: 100px;
    flex-basis: 40%;
    flex-grow: 1;
    flex-shrink: 0.8;
    padding: 5px 15px;

    button {
      height: 80px;
      width: 100%;
      white-space: normal;

      &:hover {
        background-color: rgba(15, 15, 15, 0.2);
      }

      .mat-icon {
        margin-right: 15px;
      }
    }
  }
}

.message {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 1.2em;
  padding: 15px 0;
}

.actions {
  display: flex;
  justify-content: center;

  :nth-child(n) {
    margin: 15px;
  }
}
